<div id="form">
<h1> Create a Team </h1>

<input id="projectName" type="text" ng-model="projectName" placeholder="Project Name"></input>

<br>
<br>

<input id="projectOwner" type="text" ng-model="projectOwner" placeholder="Project Owner"></input>
<br>
<br>

<input id="projectDescription" type="text" ng-model="projectDescription" placeholder="Project Description"></input>

<br>
<br>

<input id="contactEmail" type="email" ng-model="contactEmail" placeholder="Contact Email"></input>

<br>
<br>

<input id="contactNumber" type="number" ng-model="contactNumber" placeholder="Contact Number"></input>

<br>
<br>

<button ng-click="reRoute('/team')" id="createteam-submit">SUBMIT</button>
</div>
